.mainRoot{
	-fx-background-color: linear-gradient(to bottom, Blue, LightBlue)
}

.button{
	-fx-background-color: linear-gradient(to top right, #09203F, #537895)
}

.button:hover {
	-fx-background-color: linear-gradient(to top left, red, blue);
	
}

.button:pressed {
	-fx-background-color: green
}