.mainRoot{
	-fx-background-color: linear-gradient(to bottom, Blue, LightBlue)
}
.root{
	-fx-background-color: linear-gradient(to bottom, Blue, LightBlue)
}

.button{
	-fx-background-color: linear-gradient(to top right, #09203F, #537895);
	
}

.button:hover {
	-fx-background-color: linear-gradient(to top left, red, blue);
	
}

.button:pressed {
	-fx-background-color: green
}

.textfield {
	-fx-background-color: transparent;
	-fx-background-radius: 10px;
	-fx-border-color: #6a8ff6;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
	-fx-prompt-text-fill: White;
	-fx-text-fill: White;
	
}
.textfield .text:pressed{
	-fx-effect: dropshadow( two-pass-box, blue, .5, 10, 1, 1);
	
	}
#HomeButton {
	-fx-text-fill: white ;
	
}
#HomeButton:hover {
	-fx-text-fill: red ;
	
}
#LogButton {
	-fx-text-fill: white ;
	
}
#LogButton:hover {
	-fx-text-fill: red ;
	
}
#MyAccountButton {
	-fx-text-fill: white ;
	
}
#MyAccountButton:hover {
	-fx-text-fill: red ;
	
}

.combo-box .list-cell {
    -fx-text-fill: white;
}
.combo-box-popup .list-view{
    -fx-background-color: #6a8ff6;
}

.combo-box-popup .list-view .list-cell{
    -fx-text-fill: White;
    -fx-padding: 4 0 4 5;
    -fx-background-color: #979A9A;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: white;
    -fx-text-fill: blue;
}

.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: #6a8ff6;
    -fx-text-fill: black;
}

.combo-box-base{
    -fx-background-color: #979A9A;
    -fx-padding: 0;
}
